
a {
    color: #fff6f7;
    font-weight: bold;
    background-color: #cf6466;
}
body {
    color: #fcf466;
    background-color: #242424;
}
[href="PYTHON_projects.html"] {
    color: #000000;
}
[href="index.html"] {
    color: #000000;
}
