
a {
    color: #fff6f7;
    font-weight: bold;
    background-color: #b7b9e0;
}
body {
    color: #fcf466;
    background-color: #96cad9;
}
[href="PYTHON_projects.html"] {
    color: #636ef6;
}
[href="index.html"] {
    color: #636ef6;
}
